body::before {
  content: '';
  position: fixed;
  inset: 0;
  z-index: -1;
  pointer-events: none;
  background-image: url('/images/bg-pattern.svg');
  background-repeat: repeat;
  background-size: 200px 140px;
}

.dark body::before {
  filter: invert(1);
}

